#back-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: blue;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2px;
  border: 2px solid #ccc;
  background-color: #fff;
}

#back-button:hover {
  background-color: #eee;
}
